body {
  background: url('../img/bg-gradient.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "IBM Plex Sans Thai";
  ;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b6b6b6; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9f9f9f; 
}