body {
  /* background: url('../img/bg-gradient.png') no-repeat center center fixed; */
  background-color: #E9EFF2;
  margin: 0;
  padding: 0;
  height: 100%;
  /* width: 100vw; */
  overflow: auto;
  font-family: "IBM Plex Sans Thai";
}
@media (max-width: 768px) {
  body {
    /* Add your styles for mobile devices here */
    overflow: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    /* Add your styles for tablets here */
    overflow: auto;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b6b6b6; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9f9f9f; 
}